.darkmode{
    --bg-color: rgb(223, 137, 223);
    --text-color: white;

}

:root{
    --bg-color: white;
    --text-color: rgb(223,137,223);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#nav-show{display: none;}
#nav-show.show{display: block;}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
}
html {
  scroll-behavior: smooth;
}

header{
    position: sticky;
        top: 0;
    background-color: var(--bg-color);
    width: 100%;    
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    /* border: 1px solid black; */
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.left-heading{
    font-size: 1.6rem;
    cursor: pointer;
    text-align: center;
    /* border: 1px solid black; */
}

.right-content{
    display: flex;
   /* border: 1px solid black; */
    width: 100%;
    justify-content: space-between;
   
    /* border: 1px solid black; */
}
.right-content nav{
    visibility: hidden;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
}

.contact-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 1.2rem;
    padding: 15px;
    font-family: sans-serif;
    /* background-color: rgb(223, 137, 223); */
    border-radius: 8px;
    box-shadow: -5px 10px 10px black;
}
.btn{
    padding: 10px;
    font-size: 1rem;
    background-color:  lightgreen ;

}
form input{
    padding: 0.4rem;
    border-radius: 10px;
}
.nav-btn{
    display: flex;

}

@media (min-width:768px){
    .right-content nav{
        display: flex;
        width: 80%;
      
    }
    .right-content nav{
        visibility: initial;
        justify-content: space-between;
        width: 90%;
    }
    .nav-btn{
        display: none;
    }
.right-content{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
}
  
}

.right-content nav a{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}
.right-content nav a:hover{
    opacity: 0.5;
}

.right-content img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;

}
.right-content img:hover{
    opacity: 0.5;
    padding-bottom: 2px;
    
}


.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media (min-width:768px){
    .main-content{
        flex-direction: row;
    }
    .main-content .left-port{
        width: 50%;
    }
    .main-content .right-port{
        width: 50%;
    }
    .main-content .right-port img{
        height: 500px;
        width: 500px;
       
    }
}

.main-content .left-port{   
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content .right-port{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}
.main-content .right-port img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
span{
    color: var(--text-color);
}

.grid-project{
    
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 40px

}

.grid-project .card{
     /* width: 200px; */
     background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* height: 250px; 
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(223, 137, 223);
    display: flex;
    color: white;
    flex-direction: column; */
    /* justify-content: space-between;
    align-items: center;  */
}


.grid-project .card .title{
    margin-top: 5px;
    font-size: 1.4rem;
}
.grid-project .card .description{
   
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.1rem;
    

}
#project {
  text-align: center;
  margin-top: 60px;
  font-size: 2rem;
}
.grid-project .card .description p{
    font-size: 1.1rem;
}
h3{
    font-size: 1.5rem;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}